*.[oa]
*.l[oa]
*Makefile
*Makefile.in
*.deps
*.libs
aclocal.m4
autom4te.cache/
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
install-sh
libltdl/
libtool
ltmain.sh
missing
moc.spec
mocp
mork
stamp-h1

